body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

#nav {
    padding-inline: 7%;
    padding-block: 1%;
    margin-bottom: 5%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 60%;
    gap: 2%; 
}

#input-container, #output-container {
    flex: 1;
    height: 100%;    
    border: 1px solid #ccc;    
    /* arredondando bordas  */
    border-radius: 10px;
    /* adicionando sombra */
    box-shadow: 0 0 5px #ccc;

}
