body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
}

#nav {
  padding-inline: 7%;
  padding-block: 1%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#output-container {
  flex: 1;
  height: 100%;
}

#input-container {
  flex: 1;
  max-width: 30rem !important;
  height: 100%;
}
