/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}

.Treant > .node,
.Treant > .pseudo {
  position: absolute;
  display: block;
  visibility: hidden;
}

.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo {
  visibility: visible;
}

.Treant > .pseudo {
  width: 0;
  height: 0;
  border: none;
  padding: 0;
}

.Treant .collapse-switch {
  width: 3px;
  height: 3px;
  display: block;
  border: 1px solid black;
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
}

.Treant .collapsed .collapse-switch {
  background-color: #868dee;
}

.Treant > .node img {
  border: none;
  float: left;
}

/*basic-example*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

body {
  background: #fff;
}

/* optional Container STYLES */
.chart {
  height: 400px;
  margin: 5px;
  width: 400px;
}

.Treant > p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.node-name {
  font-weight: bold;
}

.nodeProcess {
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000;
  width: 70px;
  font-family: Tahoma;
  font-size: 12px;
}

.nodeProcess img {
  margin-right: 10px;
}

a.collapse-switch {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
}

.Treant .collapsed .collapse-switch {
  background-color: #eeb68659;
}

.node-color-0 {
  background-color: hsl(0, 100%, 75%);
}

.node-color-1 {
  background-color: hsl(15, 100%, 75%);
}

.node-color-2 {
  background-color: hsl(30, 100%, 75%);
}

.node-color-3 {
  background-color: hsl(45, 100%, 75%);
}

.node-color-4 {
  background-color: hsl(60, 100%, 75%);
}

.node-color-5 {
  background-color: hsl(75, 100%, 75%);
}

.node-color-6 {
  background-color: hsl(90, 100%, 75%);
}

.node-color-7 {
  background-color: hsl(105, 100%, 75%);
}

.node-color-8 {
  background-color: hsl(120, 100%, 75%);
}

.node-color-9 {
  background-color: hsl(135, 100%, 75%);
}

.node-color-10 {
  background-color: hsl(150, 100%, 75%);
}

.node-color-11 {
  background-color: hsl(165, 100%, 75%);
}

.node-color-12 {
  background-color: hsl(180, 100%, 75%);
}

.node-color-13 {
  background-color: hsl(195, 100%, 75%);
}

.node-color-14 {
  background-color: hsl(210, 100%, 75%);
}

.node-color-15 {
  background-color: hsl(225, 100%, 75%);
}

.node-color-16 {
  background-color: hsl(240, 100%, 75%);
}

.node-color-17 {
  background-color: hsl(255, 100%, 75%);
}

.node-color-18 {
  background-color: hsl(270, 100%, 75%);
}

.node-color-19 {
  background-color: hsl(285, 100%, 75%);
}

.node-color-20 {
  background-color: hsl(300, 100%, 75%);
}

.node-color-21 {
  background-color: hsl(315, 100%, 75%);
}

.node-color-22 {
  background-color: hsl(330, 100%, 75%);
}

.node-color-23 {
  background-color: hsl(345, 100%, 75%);
}

.node-color-24 {
  background-color: hsl(360, 100%, 75%);
}

.node-color-25 {
  background-color: hsl(0, 100%, 60%);
}
.node-color-26 {
  background-color: hsl(15, 100%, 60%);
}
.node-color-27 {
  background-color: hsl(30, 100%, 60%);
}
.node-color-28 {
  background-color: hsl(45, 100%, 60%);
}
.node-color-29 {
  background-color: hsl(60, 100%, 60%);
}
.node-color-30 {
  background-color: hsl(75, 100%, 60%);
}
.node-color-31 {
  background-color: hsl(90, 100%, 60%);
}
.node-color-32 {
  background-color: hsl(105, 100%, 60%);
}
.node-color-33 {
  background-color: hsl(120, 100%, 60%);
}
.node-color-34 {
  background-color: hsl(135, 100%, 60%);
}
.node-color-35 {
  background-color: hsl(150, 100%, 60%);
}
.node-color-36 {
  background-color: hsl(165, 100%, 60%);
}
.node-color-37 {
  background-color: hsl(180, 100%, 60%);
}
.node-color-38 {
  background-color: hsl(195, 100%, 60%);
}
.node-color-39 {
  background-color: hsl(210, 100%, 60%);
}
.node-color-40 {
  background-color: hsl(225, 100%, 60%);
}
.node-color-41 {
  background-color: hsl(240, 100%, 60%);
}
.node-color-42 {
  background-color: hsl(255, 100%, 60%);
}
.node-color-43 {
  background-color: hsl(270, 100%, 60%);
}
.node-color-44 {
  background-color: hsl(285, 100%, 60%);
}
.node-color-45 {
  background-color: hsl(300, 100%, 60%);
}
.node-color-46 {
  background-color: hsl(315, 100%, 60%);
}
.node-color-47 {
  background-color: hsl(330, 100%, 60%);
}
.node-color-48 {
  background-color: hsl(345, 100%, 60%);
}
.node-color-49 {
  background-color: hsl(360, 100%, 60%);
}
